<div class="jumbo">
  <div class="right tomster">
    <h2>
      About Sup Rentals
    </h2>
    <p>
      The Sup Rentals website is an project built to explore Ember.
    </p>
    {{#link-to "contact" class="button"}}
      Contact Us
    {{/link-to}}
  </div>
</div>