<div class="jumbo">
  <div class="right tomster">
    <h2>
      Contact Us
    </h2>
    <p>
      Contact one of our representatives (namely me) for any questions you may have.
    </p>
    <address>
      Sup Rentals HQ
      <p>
        123 Example Avenue
        <br />
        Testington, SG 769876
      </p>
      <a href="tel: 920.123.1232">
        +1 (902) 123-1232
      </a>
      <a href="mailto:achiekoaoki@gmail.com">
        suprentalsrep@emberjs.com
      </a>
    </address>
    {{#link-to "about" class="button"}}
      About Us
    {{/link-to}}
  </div>
</div>